In [1]:
import os
import pandas as pd
import numpy as np

# File path to the CSV file
csv_file_path = os.path.join('..', 'Resources', 'combined_player_tags_master.csv')

# Load the CSV file into a DataFrame
player_data_df = pd.read_csv(csv_file_path)

C:\Users\sungm\AppData\Local\Temp\ipykernel_796\2002834492.py:9: DtypeWarning: Columns (189,194,199,204,209,214,219,224) have mixed types. Specify dtype option on import or set low_memory=False.
  player_data_df = pd.read_csv(csv_file_path)

In [2]:
player_data_df.head()

,/data/achievements/0/info,/data/achievements/0/name,/data/achievements/0/stars,/data/achievements/0/target,/data/achievements/0/value,/data/achievements/1/info,/data/achievements/1/name,/data/achievements/1/stars,/data/achievements/1/target,/data/achievements/1/value,...,/data/supportCards/1/rarity,/data/tag,/data/threeCrownWins,/data/totalDonations,/data/totalExpPoints,/data/tournamentBattleCount,/data/tournamentCardsWon,/data/trophies,/data/warDayWins,/data/wins
0,Join a Clan,Team Player,3,1,4,Donate 250 cards,Friend in Need,1,250,200,...,NaN,#LV0LV,56,200,709,0,0,676,0,73
1,Join a Clan,Team Player,3,1,101,Donate 2500 cards,Friend in Need,3,2500,32202,...,NaN,#8R80YP,1193,32202,117657,116,25,5492,2,3382
2,Join a Clan,Team Player,3,1,48,Donate 2500 cards,Friend in Need,3,2500,9192,...,NaN,#R0VJQ,263,9192,0,4,0,1954,0,405
3,Join a Clan,Team Player,0,1,0,Donate 25 cards,Friend in Need,0,25,12,...,NaN,#JRRULRR9C,9,12,0,0,0,377,0,25
4,Join a Clan,Team Player,0,1,0,Donate 250 cards,Friend in Need,1,250,96,...,NaN,#QRJVULQQ9,49,96,0,0,0,3775,0,155

In [3]:
# Find columns with NaNs and separate columns by integer and string
columns_with_nans = player_data_df.columns[player_data_df.isna().any()].tolist()
int_columns_with_nans = player_data_df[columns_with_nans].select_dtypes(include=np.number).columns.tolist()
string_columns_with_nans = player_data_df[columns_with_nans].select_dtypes(include='object').columns.tolist()

In [4]:
# Replace NaNs in columns with 0 for integer columns and "NO" for string columns
int_columns_to_replace = int_columns_with_nans
string_columns_to_replace = string_columns_with_nans  
player_data_df[int_columns_to_replace] = player_data_df[int_columns_to_replace].fillna(0)
player_data_df[string_columns_to_replace] = player_data_df[string_columns_to_replace].fillna("NO")

In [5]:
# Overwrite file 
player_data_df.to_csv('combined_player_tags_master.csv', index=False)